flow.json
[
    {
        "id": "3c8d7c4563309a99",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9065e125227a514d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e23b4438cca5e5eb",
        "type": "subflow",
        "name": "Control",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 340,
                "wires": [
                    {
                        "id": "14d72b0f763ce863"
                    },
                    {
                        "id": "1cb258ec5d3e4dd6"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1100,
                "y": 340,
                "wires": [
                    {
                        "id": "96dbab7168f8286e",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1100,
                "y": 240,
                "wires": [
                    {
                        "id": "96dbab7168f8286e",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "441ba1362d002e1d",
        "type": "group",
        "z": "e23b4438cca5e5eb",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5bab2e19ff7e6131",
            "14d72b0f763ce863",
            "96dbab7168f8286e",
            "ea13fb3ce140d373",
            "3d0a4a3c970c1f0f",
            "5b40faaacfd77364",
            "f02fc8323b4ab41e",
            "9a33f73fe8d30a5a",
            "1cb258ec5d3e4dd6"
        ],
        "x": 194,
        "y": 199,
        "w": 732,
        "h": 267
    },
    {
        "id": "35ba80d5d4528d19",
        "type": "mqtt-broker",
        "name": "MyFarm",
        "broker": "192.168.0.10",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9a81d49cc4b5d9b7",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "72ca883cdf595998",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b4a04d661a72816d",
        "type": "ui_group",
        "name": "ui",
        "tab": "9a81d49cc4b5d9b7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5bab2e19ff7e6131",
        "type": "ui_switch",
        "z": "e23b4438cca5e5eb",
        "g": "441ba1362d002e1d",
        "name": "",
        "label": "{{name}}",
        "tooltip": "",
        "group": "b4a04d661a72816d",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 470,
        "y": 360,
        "wires": [
            [
                "ea13fb3ce140d373"
            ]
        ]
    },
    {
        "id": "14d72b0f763ce863",
        "type": "function",
        "z": "e23b4438cca5e5eb",
        "g": "441ba1362d002e1d",
        "name": "setPower",
        "func": "msg.payload = msg.payload.Power ; \nmsg.name = msg.topic.match(\"\\\\w+\\/status$\")[0].match(\"^\\\\w+\")[0];\nflow.name = msg.name;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 360,
        "wires": [
            [
                "5bab2e19ff7e6131"
            ]
        ]
    },
    {
        "id": "96dbab7168f8286e",
        "type": "template",
        "z": "e23b4438cca5e5eb",
        "g": "441ba1362d002e1d",
        "name": "template body",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"Name\": {{topic}},\n    \"NodeID\": \"Node-RED\",\n    \"Power\": {{payload}}\n}",
        "output": "str",
        "x": 820,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ea13fb3ce140d373",
        "type": "function",
        "z": "e23b4438cca5e5eb",
        "g": "441ba1362d002e1d",
        "name": "setTopic",
        "func": "msg.topic = msg.topic.replace(\"status\", \"control\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 360,
        "wires": [
            [
                "96dbab7168f8286e",
                "73e5b1dc9eefa26e"
            ]
        ]
    },
    {
        "id": "3d0a4a3c970c1f0f",
        "type": "ui_led",
        "z": "e23b4438cca5e5eb",
        "g": "441ba1362d002e1d",
        "order": 2,
        "group": "b4a04d661a72816d",
        "width": "2",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "1cb258ec5d3e4dd6",
        "type": "function",
        "z": "e23b4438cca5e5eb",
        "g": "441ba1362d002e1d",
        "name": "setStatus",
        "func": "msg.payload = msg.payload.Switch;\nmsg.name = msg.topic.match(\"\\\\w+\\/status$\")[0];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 240,
        "wires": [
            [
                "3d0a4a3c970c1f0f"
            ]
        ]
    },
    {
        "id": "73e5b1dc9eefa26e",
        "type": "debug",
        "z": "e23b4438cca5e5eb",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 140,
        "wires": []
    },
    {
        "id": "cdcc4ed9e104a50a",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/valve01/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 320,
        "wires": [
            [
                "485e18354b22d70c"
            ]
        ]
    },
    {
        "id": "b6f858d1af7df909",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/valve02/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 380,
        "wires": [
            [
                "eb76ddfc7685a929"
            ]
        ]
    },
    {
        "id": "be79df03d64087c9",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/valve03/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 440,
        "wires": [
            [
                "2d4dae11298a8a28"
            ]
        ]
    },
    {
        "id": "6201897b580d33bc",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/valve04/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 500,
        "wires": [
            [
                "d05966a880bf5917"
            ]
        ]
    },
    {
        "id": "5fbc6c924f1719e2",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/valve05/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 560,
        "wires": [
            [
                "c84c712ab76edea0"
            ]
        ]
    },
    {
        "id": "3b74978eb6dcc1a5",
        "type": "node-line-notify",
        "z": "3c8d7c4563309a99",
        "name": "MyFarm",
        "message": "Hi, this message is from LINE Notify. 😊",
        "useExternalData": true,
        "useImageUrl": false,
        "imageFullsizeUrl": "",
        "imageThumbnailUrl": "",
        "useImageFile": false,
        "imageFile": "",
        "useSticker": false,
        "lineStickerPackageId": 1,
        "lineStickerId": 1,
        "disabledPushNotification": false,
        "hasToken": true,
        "x": 1240,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "ddfda6b0d3aea13e",
        "type": "mqtt out",
        "z": "3c8d7c4563309a99",
        "name": "MyFarm",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "35ba80d5d4528d19",
        "x": 1240,
        "y": 380,
        "wires": []
    },
    {
        "id": "eb76ddfc7685a929",
        "type": "subflow:e23b4438cca5e5eb",
        "z": "3c8d7c4563309a99",
        "name": "",
        "x": 680,
        "y": 380,
        "wires": [
            [
                "ddfda6b0d3aea13e"
            ],
            [
                "3b74978eb6dcc1a5"
            ]
        ]
    },
    {
        "id": "2d4dae11298a8a28",
        "type": "subflow:e23b4438cca5e5eb",
        "z": "3c8d7c4563309a99",
        "name": "",
        "x": 680,
        "y": 440,
        "wires": [
            [
                "ddfda6b0d3aea13e"
            ],
            [
                "3b74978eb6dcc1a5"
            ]
        ]
    },
    {
        "id": "d05966a880bf5917",
        "type": "subflow:e23b4438cca5e5eb",
        "z": "3c8d7c4563309a99",
        "name": "",
        "x": 680,
        "y": 500,
        "wires": [
            [
                "ddfda6b0d3aea13e"
            ],
            [
                "3b74978eb6dcc1a5"
            ]
        ]
    },
    {
        "id": "c84c712ab76edea0",
        "type": "subflow:e23b4438cca5e5eb",
        "z": "3c8d7c4563309a99",
        "name": "",
        "x": 680,
        "y": 560,
        "wires": [
            [
                "ddfda6b0d3aea13e"
            ],
            [
                "3b74978eb6dcc1a5"
            ]
        ]
    },
    {
        "id": "485e18354b22d70c",
        "type": "subflow:e23b4438cca5e5eb",
        "z": "3c8d7c4563309a99",
        "name": "",
        "x": 680,
        "y": 320,
        "wires": [
            [
                "ddfda6b0d3aea13e"
            ],
            [
                "3b74978eb6dcc1a5"
            ]
        ]
    },
    {
        "id": "81c9da993ff23518",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/valve06/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 620,
        "wires": [
            [
                "46deddf0102ee9c4"
            ]
        ]
    },
    {
        "id": "1929af4128e1bbf7",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/valve07/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 680,
        "wires": [
            [
                "9c577968a99a7b13"
            ]
        ]
    },
    {
        "id": "c2a981952ddd3d84",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/valve08/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 740,
        "wires": [
            [
                "b46c0ac9dc82b88b"
            ]
        ]
    },
    {
        "id": "8a7f68492a562e20",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/valve09/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 800,
        "wires": [
            [
                "f8816f189b0af9fa"
            ]
        ]
    },
    {
        "id": "5b6df844335a4d23",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/valve10/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 860,
        "wires": [
            [
                "09d6100a3f9c29c3"
            ]
        ]
    },
    {
        "id": "b567ac38467cebf0",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/valve11/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 920,
        "wires": [
            [
                "3ba73c94c8c57fb5"
            ]
        ]
    },
    {
        "id": "46deddf0102ee9c4",
        "type": "subflow:e23b4438cca5e5eb",
        "z": "3c8d7c4563309a99",
        "name": "",
        "x": 680,
        "y": 620,
        "wires": [
            [
                "ddfda6b0d3aea13e"
            ],
            [
                "3b74978eb6dcc1a5"
            ]
        ]
    },
    {
        "id": "9c577968a99a7b13",
        "type": "subflow:e23b4438cca5e5eb",
        "z": "3c8d7c4563309a99",
        "name": "",
        "x": 680,
        "y": 680,
        "wires": [
            [
                "ddfda6b0d3aea13e"
            ],
            [
                "3b74978eb6dcc1a5"
            ]
        ]
    },
    {
        "id": "b46c0ac9dc82b88b",
        "type": "subflow:e23b4438cca5e5eb",
        "z": "3c8d7c4563309a99",
        "name": "",
        "x": 680,
        "y": 740,
        "wires": [
            [
                "ddfda6b0d3aea13e"
            ],
            [
                "3b74978eb6dcc1a5"
            ]
        ]
    },
    {
        "id": "f8816f189b0af9fa",
        "type": "subflow:e23b4438cca5e5eb",
        "z": "3c8d7c4563309a99",
        "name": "",
        "x": 680,
        "y": 800,
        "wires": [
            [
                "ddfda6b0d3aea13e"
            ],
            [
                "3b74978eb6dcc1a5"
            ]
        ]
    },
    {
        "id": "09d6100a3f9c29c3",
        "type": "subflow:e23b4438cca5e5eb",
        "z": "3c8d7c4563309a99",
        "name": "",
        "x": 680,
        "y": 860,
        "wires": [
            [
                "ddfda6b0d3aea13e"
            ],
            [
                "3b74978eb6dcc1a5"
            ]
        ]
    },
    {
        "id": "3ba73c94c8c57fb5",
        "type": "subflow:e23b4438cca5e5eb",
        "z": "3c8d7c4563309a99",
        "name": "",
        "x": 680,
        "y": 920,
        "wires": [
            [
                "ddfda6b0d3aea13e"
            ],
            [
                "3b74978eb6dcc1a5"
            ]
        ]
    },
    {
        "id": "4a5485336f9e59fc",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/pump03/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "56a832c16615231e"
            ]
        ]
    },
    {
        "id": "2dc443ae4a6a3d2b",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/pump02/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "da1c1cea1f291b16"
            ]
        ]
    },
    {
        "id": "6255b76a90866dec",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/pump01/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 120,
        "wires": [
            [
                "b12eebbd01f67c62"
            ]
        ]
    },
    {
        "id": "56a832c16615231e",
        "type": "subflow:e23b4438cca5e5eb",
        "z": "3c8d7c4563309a99",
        "name": "",
        "x": 700,
        "y": 240,
        "wires": [
            [
                "ddfda6b0d3aea13e"
            ],
            [
                "3b74978eb6dcc1a5"
            ]
        ]
    },
    {
        "id": "da1c1cea1f291b16",
        "type": "subflow:e23b4438cca5e5eb",
        "z": "3c8d7c4563309a99",
        "name": "",
        "x": 700,
        "y": 180,
        "wires": [
            [
                "ddfda6b0d3aea13e"
            ],
            [
                "3b74978eb6dcc1a5"
            ]
        ]
    },
    {
        "id": "b12eebbd01f67c62",
        "type": "subflow:e23b4438cca5e5eb",
        "z": "3c8d7c4563309a99",
        "name": "",
        "x": 700,
        "y": 120,
        "wires": [
            [
                "ddfda6b0d3aea13e"
            ],
            [
                "3b74978eb6dcc1a5"
            ]
        ]
    }
]