flow.json
[
    {
        "id": "3c8d7c4563309a99",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9065e125227a514d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "35ba80d5d4528d19",
        "type": "mqtt-broker",
        "name": "MyFarm",
        "broker": "192.168.0.10",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9a81d49cc4b5d9b7",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "72ca883cdf595998",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b4a04d661a72816d",
        "type": "ui_group",
        "name": "ui",
        "tab": "9a81d49cc4b5d9b7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cdcc4ed9e104a50a",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/valve01/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b6f858d1af7df909",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/valve02/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 280,
        "wires": [
            [
                "14d72b0f763ce863"
            ]
        ]
    },
    {
        "id": "be79df03d64087c9",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/valve03/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "6201897b580d33bc",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/valve04/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5fbc6c924f1719e2",
        "type": "mqtt in",
        "z": "3c8d7c4563309a99",
        "name": "",
        "topic": "/topic/node/valve04/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "35ba80d5d4528d19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "3b74978eb6dcc1a5",
        "type": "node-line-notify",
        "z": "3c8d7c4563309a99",
        "name": "MyFarm",
        "message": "Hi, this message is from LINE Notify. 😊",
        "useExternalData": true,
        "useImageUrl": false,
        "imageFullsizeUrl": "",
        "imageThumbnailUrl": "",
        "useImageFile": false,
        "imageFile": "",
        "useSticker": false,
        "lineStickerPackageId": 1,
        "lineStickerId": 1,
        "disabledPushNotification": false,
        "hasToken": true,
        "x": 1120,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ddfda6b0d3aea13e",
        "type": "mqtt out",
        "z": "3c8d7c4563309a99",
        "name": "MyFarm",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "35ba80d5d4528d19",
        "x": 1240,
        "y": 280,
        "wires": []
    },
    {
        "id": "fac3cddf9c9daf69",
        "type": "debug",
        "z": "3c8d7c4563309a99",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 60,
        "wires": []
    },
    {
        "id": "5bab2e19ff7e6131",
        "type": "ui_switch",
        "z": "3c8d7c4563309a99",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "b4a04d661a72816d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 300,
        "wires": [
            [
                "fac3cddf9c9daf69",
                "96dbab7168f8286e"
            ]
        ]
    },
    {
        "id": "14d72b0f763ce863",
        "type": "function",
        "z": "3c8d7c4563309a99",
        "name": "prepare status",
        "func": "msg.payload = msg.payload.Power == 1 ; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [
            [
                "5bab2e19ff7e6131",
                "4c17a232d27d16ea",
                "a02a5572d9982f40"
            ]
        ]
    },
    {
        "id": "96dbab7168f8286e",
        "type": "template",
        "z": "3c8d7c4563309a99",
        "name": "template body",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"Name\": \"value\",\n    \"NodeID\": \"Node-RED\",\n    \"Power\": {{payload}}\n\n}",
        "output": "str",
        "x": 840,
        "y": 200,
        "wires": [
            [
                "ea13fb3ce140d373"
            ]
        ]
    },
    {
        "id": "8d786ba66c2788c9",
        "type": "debug",
        "z": "3c8d7c4563309a99",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 200,
        "wires": []
    },
    {
        "id": "ea13fb3ce140d373",
        "type": "function",
        "z": "3c8d7c4563309a99",
        "name": "setTopic",
        "func": "msg.topic = msg.topic.replace(\"status\", \"control\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 200,
        "wires": [
            [
                "8d786ba66c2788c9",
                "ddfda6b0d3aea13e"
            ]
        ]
    },
    {
        "id": "4c17a232d27d16ea",
        "type": "debug",
        "z": "3c8d7c4563309a99",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 20,
        "wires": []
    },
    {
        "id": "a02a5572d9982f40",
        "type": "ui_switch",
        "z": "3c8d7c4563309a99",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "b4a04d661a72816d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 400,
        "wires": [
            [
                "96dbab7168f8286e"
            ]
        ]
    }
]